@font-face {
  font-family: 'Iansui';
  src: url('./assets/fonts/Iansui-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
